<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Todo App</title>
</head>

<body>
    <div style="margin-top: 100px;" class="container">
        <h3>Todo List</h3>
        <hr>

        <form action="/add" method='post'>
            <div class="form-group">
                <label for="formGroupExampleInput">Todo Baslik</label>
                <input type="text" class="form-control" id="formGroupExampleInput" name="title" placeholder="Todo Giriniz">
                <br>
                <button type="submit" class="btn btn-danger">Ekle</button>
                <hr>
            </div>
        </form>

        {% if todos == [] %}
        <div class="alert alert-warning" role="alert">
            Herhangi bir Todonuz nulunmuyor
        </div>
        {% else %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Todo Baslik</th>
                    <th scope="col">Todo Durum</th>
                    <th scope="col">Durum Gunccelle</th>
                    <th scope='col'>Todo Sil</th>
                </tr>
            </thead>
            <tbody>
                {% for todo in todos %}
                <tr>
                    <th scope="row">{{todo.id}}</th>
                    <td>{{todo.title}}</td>
                    {% if todo.complete == False %}
                    <td>Tamamlanmadi</td>
                    {% else %}
                    <td>Tamamlandi</td>
                    {% endif %}
                    <td><a href="/complete/{{todo.id}}" class="btn btn-danger">Tamamla</a></td>
                    <td><a href="/delete/{{todo.id}}" class="btn btn-danger">Sil</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}


    </div>




    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>